{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
NOTE TO DEVELOPERS: welcome to Impact theme! We hope that you will enjoy editing this theme as much as we did for
  developing it. We have put a lot of work to make this theme as developer friendly as possible by offering you
  hooks to integrate into critical parts of the theme. You will find the complete technical documentation (including
  all events, dependencies...) in the "documentation.txt" file, located in the Assets folder.
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.header_background }}">

    <title>{% if page_title == blank %}{{ shop.name }}{% else %}{{ page_title }}{% if current_page != 1 %} &ndash; {{ 'general.page' | t: page: current_page }}{% endif %}{% endif %}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 96 }}">
      <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180 }}">
    {%- endif -%}

    {%- comment -%}Few prefetch to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">

    {%- unless settings.heading_font.system? -%}
      <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.text_font.system? -%}
      <link rel="preload" href="{{ settings.text_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- render 'social-meta-tags' -%}
    {%- render 'microdata-schema' -%}
    {%- render 'css-variables' -%}
    {%- render 'js-variables' -%}

    <script type="module" src="{{ 'vendor.min.js' | asset_url }}"></script>
    <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
    <script type="module" src="{{ 'sections.js' | asset_url }}"></script>

    {{ content_for_header }}

    {{- 'theme.css' | asset_url | stylesheet_tag: preload: true -}}
  
	{{ shop.metafields.loox["global_html_head"] }}
</head>

  <body class="{% if settings.show_page_transition %}page-transition{% endif %} {% if settings.zoom_image_on_hover %}zoom-image--enabled{% endif %}">
    {%- render 'shadow-dom-templates' -%}

    <a href="#main" class="skip-to-content sr-only">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {%- if request.page_type != 'password' -%}
      {%- sections 'header-group' -%}
      {%- sections 'overlay-group' -%}

      {%- if settings.cart_type == 'popover' -%}
        <cart-notification-drawer open-from="bottom" class="quick-buy-drawer drawer"></cart-notification-drawer>
      {%- endif -%}
    {%- endif -%}

    {%- if request.page_type == 'customers/account' or request.page_type == 'customers/order' or request.page_type == 'customers/addresses' -%}
      {%- section 'account-banner' -%}
    {%- endif -%}

    <main role="main" id="main" class="anchor">
      {{ content_for_layout }}

      {%- comment -%}
      IMPLEMENTATION NOTE: due to the very complex logic of margin/padding collapsing in Impact, the footer group is
      added into the main element to ensure that dynamic sections added into the footer group are properly laid out.
      {%- endcomment -%}
      {%- if request.page_type != 'password' -%}
        {%- sections 'footer-group' -%}
      {%- endif -%}
    </main>
  
	{{ shop.metafields.loox["global_html_body"] }}
{% comment %}START ADCELL APP | DONT REMOVE THIS!{% endcomment %}<script type="text/javascript" src="https://t.adcell.com/js/trad.js?s=shopify&v=1.1.8"></script>
<script>Adcell.Tracking.track();</script>



  {%- if template contains 'index' -%}
    <script type="text/javascript" src="https://t.adcell.com/js/inlineretarget.js?s=shopify&v=1.1.8&method=track&pid=11751&type=startpage" async="async"></script>
  {%- endif -%}

  {%- if template contains 'collection' -%}
    {%- assign sku_list = '' -%}
    {%- for product in collection.products -%}
      {%- assign sku_list = sku_list | append: product.variants.first.sku | append: ';' -%}
    {%- endfor -%}
    <script type="text/javascript"
      src="https://t.adcell.com/js/inlineretarget.js?s=shopify&v=1.1.8&method=category&pid=11751&categoryName={{collection.title}}&categoryId={{collection.id}}&productIds={{sku_list}}&productSeparator=;"
      async="async"></script>
  {%- endif -%}

  {%- if template contains 'product' -%}
    <script type="text/javascript" src="https://t.adcell.com/js/inlineretarget.js?s=shopify&v=1.1.8&method=product&pid=11751&productId={{product.variants.first.sku}}&productName={{product.title}}&categoryId={{product.collections[0].id}}&productSeparator=;" async="async"></script>
  {%- endif -%}

  {%- if template contains 'search' -%}
    {%- assign search_products = search.results | where: "object_type", "product" -%}
    {%- assign sku_list = '' -%}
    {%- for product in search_products -%}
      {%- assign sku_list = sku_list | append: product.variants.first.sku | append: ';' -%}
    {%- endfor -%}
    {%- assign search_product_ids_string = sku_list -%}

    <script type="text/javascript" src="https://t.adcell.com/js/inlineretarget.js?s=shopify&v=1.1.8&method=search&pid=11751&search={{search.terms}}&productIds={{search_product_ids_string}}&productSeparator=;" async="async"></script>
  {%- endif -%}

  {%- if template contains 'cart' -%}
    {%- assign cart_items_ids = cart.items | map: 'sku' | join: ';' -%}
    {%- assign cart_items_quantities = cart.items | map: 'quantity' | join: ';' -%}
    {%- assign cart_items_count = cart.items.size -%}

    {%- if cart.taxes_included -%}
      {% assign tax_times = 0 | divided_by: 100.0 | plus: 1 %}
    {% else %}
      {% assign tax_times = 1 %}
    {% endif %}

    {%- assign total = 0 -%}
    {%- for item in cart.items -%}
      {%- assign total = total | plus: item.original_line_price -%}
    {%- endfor -%}
    {% assign total = total | minus: checkout.discounts_amount %}

    {%- assign ds = include.ds | default: ',' -%}
    {%- assign numdecimals = include.decimals | default: 2 -%}
    {%- assign parts = total | divided_by: tax_times |  minus: checkout.shipping_price | round: numdecimals | split:'.' -%}
    {%- assign digits = parts[0] | split:'' -%}

    {%- for digit in digits -%}
        {%- assign twoFromEnd = digits.size | minus: forloop.index -%}
        {%- if twoFromEnd == 1 and forloop.index != 0 -%}
            {%- assign format_price = format_price | append: ds -%}
            {%- assign format_price = format_price | append: digit -%}
        {%- else -%}
            {%- assign format_price = format_price | append: digit -%}
        {%- endif -%}
    {%- endfor -%}

    <script type="text/javascript" src="https://t.adcell.com/js/inlineretarget.js?s=shopify&v=1.1.8&method=basket&pid=11751&productIds={{cart_items_ids}}&productSeparator=;&quantities={{cart_items_quantities}}&basketProductCount={{cart.item_count}}&basketTotal={{ format_price }}" async="async"></script>
  {%- endif -%}{% comment %}DONT REMOVE THIS | END ADCELL APP{% endcomment %}</body>
</html>